---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "../contentful"
import ContentModules from "../components/ContentModules.astro"

//@ts-expect-error importing local tenant components
import * as components from "../../../../src/components"


const { entry } = await getEntry(Astro.locals.engine.ref)

if (entry.type !== "Page") {
  return Astro.redirect("/")
}

const contentModules = entry.modulesCollection.items || []
---

<Layout title={entry.metaTitle || entry.title}>
  <main>
    <div class="wrap">
      <h1>{entry.title}</h1>
      <time>{entry.sys.publishedAt}</time>
    </div>
    <!-- <TestCard data={{ title: "plop" }} /> -->

    {contentModules && <ContentModules data={contentModules} />}
    <components.Foo data={{ title: "simple astro component test" }} />
    <components.Alert text="react component rendered on the server" />
    <components.Dummy data={{ title: "another simple astro component bringing its own styles" }} />
    <!-- <Button>Example</Button> -->
  </main>
</Layout>
