---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "../contentful"
import ContentModules from "../components/ContentModules.astro"

const { entry } = await getEntry(Astro.locals.engine.ref)

if (entry.type !== "Page") {
  return Astro.redirect("/")
}

const contentModules = entry.modulesCollection.items || []
---

<Layout title={entry.metaTitle || entry.title}>
  <main>
    <div class="wrap">
      <h1>{entry.title}</h1>
      <time>{entry.sys.publishedAt}</time>
    </div>
    {contentModules && <ContentModules data={contentModules} />}
  </main>
</Layout>
